# Python
__pycache__/
*__init__.py
__init__.py
*.pyc
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# QEMU frontend (ajuste se usar paths diferentes)
*.qemu_cache.json
.cache/
.qemu_helper_cache/
*.tmp
*.bak

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Envs
.env
.venv/
env/
venv/

# Teste/output
*.out
*.bin
*.img
*.iso
*.zip
